<html>
	<body>
		Bienvenido al juego del ahorcado
	
		<form action="/" method="post" >
			Ingrese una letra <input type="text" name="letter" id="letter">
			<input type="submit" name="jugar" value="Jugar" />
		</form>
	
		<% if @lastLetter %>
			La letra ingresada fue: <%= @lastLetter %>
		<% end %>

		<hr />

		<%= @placeholder%>


	</body>
</html>

